@charset "UTF-8";
body {
    background-repeat: no-repeat;
    background-image: url(../img/bkgd.jpg);
    background-size: cover;
    background-attachment: fixed;
	background-color: rgba(0,140,140,1.00);
	

}
#logo
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
#leftSec
{   text-align: left ;
	
}

#righsec
{   text-align: right ;
	 padding-bottom: 15px
	
}
