@charset "UTF-8";
body {
    background-repeat: no-repeat;
    background-image: url(../img/bkgd.jpg);
    background-size: cover;
    background-attachment: fixed;
	background-color: rgba(0,140,140,1.00);
	

}
#logo
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
#leftSec {
    padding-left: 2%;
    margin-right: 3%;
    padding-right: 2%;
    margin-left: 3%;
}
#righsec {
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    width: 58%;
    float: right;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.44) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.44) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.44) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.44) 100%);
    border-top-right-radius: 30px;
	padding-top:30px;
	padding-bottom: 40px;
}

#leftSec {
    width: 28%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
#righsec h2 {
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    line-height: normal;
}
footer {
    clear : both;
    bottom: 0px;
    position: fixed;
    left: 0px;
    width: 100%;
    text-align: center;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
    padding-top: 40px;
}
#leftSec h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(246,246,246,1.00);
    font-size: 2em;
    text-shadow: 3px 3px 5px #000000;
}
footer p {
    margin-top: 0%;
    margin-bottom: 0%;
    clear: both;
    color: #000000;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 0.8rem;
}
#righsec p {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: left;
    line-height: 135%;
	margin-bottom: 0 ;
	padding-top: 10px;
}

@media (max-width:700px){
	body { background-image: none;
	
}
	#righsec {
	width:90% ;
		margin-left:3%;
		margin-tight:3%;
		padding-left:2%;
		padding right:2%;
	}
		
		
	
#leftSec {
	width:90% ;
		margin-left:3%;
		margin-tight:3%;
		padding-left:2%;
		padding right:2%;
	}
}